.form_control{
    display:flex;
    justify-content: flex-start;
    width: 300px;
}

.form_control p{
    margin-bottom: .3em;
    font-weight: bold;
    font-size: .8em;
}

.form_control input{
    width: 20%;
    padding: .7em;
    border: 1px solid #777;
    border-radius: 5px;
}

.form_control select {
    padding: .7em;
    border: 1px solid #777;
    border-radius: 5px;
    background-color: transparent;
    margin-right: 1em;
}

